@font-face {
  font-family: "kanitregular";
  src: url("./fonts/kanit-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kanitbold";
  src: url("./fonts/kanit-bold-webfont.woff") format("woff");
  font-weight: normal; /* Actually bold */
  font-style: normal;
}
@font-face {
  font-family: "kanitextrabold";
  src: url("./fonts/kanit-extrabold-webfont.woff") format("woff");
  font-weight: normal; /* Actually extra bold */
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "kanitregular", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: "kanitextrabold";
  font-size: 4.5rem;
  font-weight: 800;
  margin: 0;
  text-align: center;
  text-shadow: 0 3px 3px lightblue;
}

.game-button {
  display: block;
  font-family: "kanitregular";
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  margin: 15px auto;

  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  box-shadow: 0 4px 4px lightblue;
}
.game-button:hover {
  cursor: pointer;
}

#loginModal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
}
#modalContent {
  width: 550px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgb(50, 50, 50);

  font-weight: 500;
  text-shadow: 0 3px 3px lightblue;
}

h3 {
  margin-top: 5px;
  font-size: 1.5rem;
}

.login-inputs {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  font-size: 1.15rem;
}
.login-inputs input {
  padding: 4px;
  margin-left: 4px;
  margin-bottom: 8px;

  border-radius: 4px;
  border: 1px solid black;
}

.game-field {
  width: 500px;
  height: 500px;
  margin: 1rem auto 0 auto;
  background-color: grey;
  border-radius: 15px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.game-field:focus {
  box-shadow: 0 0 15px rgb(114, 113, 113);
}
.game-field:focus-visible {
  box-shadow: 0 0 15px rgb(114, 113, 113);
  outline: none;
}

.game-tile {
  font-size: 3.25rem;
  background-color: lightblue;
  box-shadow: 0 0 10px lightblue;
  border-radius: 10px;

  display: grid;
  margin: 0.5rem;
  place-items: center;
}

.active-tile {
  font-size: 3.25rem;
  background-color: black;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  margin: 0.5rem;

  display: grid;
  margin: 0.6rem;
  place-items: center;
}
