@font-face {
  font-family: "kanitregular";
  src: url("./fonts/kanit-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kanitbold";
  src: url("./fonts/kanit-bold-webfont.woff") format("woff");
  font-weight: normal; /* Actually bold */
  font-style: normal;
}
@font-face {
  font-family: "kanitextrabold";
  src: url("./fonts/kanit-extrabold-webfont.woff") format("woff");
  font-weight: normal; /* Actually extra bold */
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "kanitregular", "Work Sans", sans-serif;
  box-shadow: 0 3px 3px lightblue;
  text-shadow: 0 3px 3px lightblue;
}

.navbar {
  box-shadow: 0 3px 5px lightblue;
  text-shadow: 0 3px 3px lightblue;
}

.container-fluid {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.navbar-nav {
  font-family: "kanitbold";
  font-size: 1.2rem;
  letter-spacing: 1px;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: lightblue;
}

h2 {
  font-weight: 800;
}

.navbar-brand {
  font-size: 2.5rem;
}

.btn {
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 1px;
  border-radius: 5px;
}
.btn-light:hover {
  background-color: black;
  color: white;
}
.btn-dark:hover {
  background-color: white;
  color: black;
}

h1 {
  margin-top: 5rem !important;
}

h1,
h2,
h5 {
  font-family: "kanitbold", sans-serif;
}

p {
  font-size: 1.15rem;
  text-align: justify;
}

.play-button {
  font-family: "kanitbold";
  font-size: 1.25rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  display: block;
  margin: 0 auto;
  text-decoration-line: none;
  box-shadow: 0 3px 3px lightblue;
}

.card {
  max-width: 275px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.social-media-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.social-media-links a {
  padding: 5px 10px;
}

footer {
  background-color: black;
  box-shadow: 0 -3px 3px black;
  color: white;
}
footer a {
  color: white;
}
footer ul {
  padding: 25px 20px;

  display: flex;
  flex-direction: row;
}
footer ul li:nth-child(2) {
  margin-left: auto;
}

footer,
footer ul {
  margin-bottom: 0;
}

@media screen and (max-width: 544px) {
  nav button {
    display: none !important;
  }
}

@media screen and (min-width: 546px) {
  section button {
    display: none !important;
  }

  nav button {
    margin-left: 1.5rem !important;
  }
}

@media screen and (min-width: 575px) {
  .card {
    max-width: 100%;
  }

  .container-fluid {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

@media screen and (min-width: 900px) {
  .card {
    max-width: 65%;
  }

  .intro-p {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
